# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
materials/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.db
db.sqlite3
db.sqlite3-journal

# Environments
.env
.envrc
.venv
env/
venv/

# Project-generated data
data/generated/
*.db
*.db-journal
*.db-shm
*.db-wal
.import-cache/
.render-cache/
